
.container-fluid {
    background-color: rgb(183, 200, 216);
}
.nav-link{
    font-size: larger;
    color:rgb(4, 17, 136);
    

}
.nav-link:hover {
    color:black;
    font-weight: bold;
    
}
.container p {
    display:flex;
    justify-content: center;
}
.button btn-primary {
    display:flex;
    align-content: center;
    justify-content: center;
}